<h1>Editing defect_release_map</h1>

<%= error_messages_for :defect_release_map %>

<% form_for(@defect_release_map) do |f| %>
  <p>
    <b>Defect</b><br />
    <%= f.text_field :defect_id %>
  </p>

  <p>
    <b>Release</b><br />
    <%= f.text_field :release_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @defect_release_map %> |
<%= link_to 'Back', defect_release_maps_path %>
