<h1>Editing lpps</h1>

<%= error_messages_for :lpps %>

<% form_for(@lpps) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Base</b><br />
    <%= f.text_field :base_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @lpps %> |
<%= link_to 'Back', lpps_path %>
