<h1>Listing lpps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Base</th>
  </tr>

<% for lpp in @lpps %>
  <tr>
    <td><%=h lpp.name %></td>
    <td><%=h lpp.base_id %></td>
    <td><%= link_to 'Show', lpp %></td>
    <td><%= link_to 'Edit', edit_lpp_path(lpp) %></td>
    <td><%= link_to 'Destroy', lpp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New lpp', new_lpp_path %>
