<%# -*- coding: utf-8 -*- -%>
<%#
 Copyright 2007-2011 Ease Software, Inc. and Perry Smith
 All Rights Reserved
-%>
<!-- app/views/lpps/index.html.erb -->
<%- @title = "Index of Lpps"
<h1>Listing lpps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>LppBase</th>
  </tr>

<% for lpp in @lpps %>
  <tr>
    <td><%=h lpp.name %></td>
    <td><%=h lpp.lpp_base_id %></td>
    <td><%= link_to 'Show', lpp %></td>
    <td><%= link_to 'Edit', edit_lpp_path(lpp) %></td>
    <td><%= link_to 'Destroy', lpp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New lpp', new_lpp_path %>
