<h1>New lpps</h1>

<%= error_messages_for :lpps %>

<% form_for(@lpps) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Base</b><br />
    <%= f.text_field :base_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', lpps_path %>
