<h1>New lpp</h1>

<%= error_messages_for :lpp %>

<% form_for(@lpp) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>LppBase</b><br />
    <%= f.text_field :lpp_base_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', lpps_path %>
