<%- @title = "Index of Service Packs"
<h1>Listing service_packs</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for service_pack in @service_packs %>
  <tr>
    <td><%=h service_pack.name %></td>
    <td><%= link_to 'Show', service_pack %></td>
    <td><%= link_to 'Edit', edit_service_pack_path(service_pack) %></td>
    <td><%= link_to 'Destroy', service_pack, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New service_pack', new_service_pack_path %>
