<h1>Listing apar_defect_maps</h1>

<table>
  <tr>
    <th>Apar</th>
    <th>Defect</th>
  </tr>

<% for apar_defect_map in @apar_defect_maps %>
  <tr>
    <td><%=h apar_defect_map.apar_id %></td>
    <td><%=h apar_defect_map.defect_id %></td>
    <td><%= link_to 'Show', apar_defect_map %></td>
    <td><%= link_to 'Edit', edit_apar_defect_map_path(apar_defect_map) %></td>
    <td><%= link_to 'Destroy', apar_defect_map, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New apar_defect_map', new_apar_defect_map_path %>
