<h1>Editing aix_file</h1>

<% form_for(@aix_file) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @aix_file %> |
<%= link_to 'Back', aix_files_path %>
