<%# -*- coding: utf-8 -*- -%>
<%#
 Copyright 2007-2011 Ease Software, Inc. and Perry Smith
 All Rights Reserved
-%>
<!-- app/views/welcome/index.html.erb -->
<h1>Welcome to Condor</h1>

<p style='font-size: larger; color: red; background-color: #e0e0ff; width: 80ex'>
  This is an old version of Condor.  Please use the new version:
  <a href='http://condor.austin.ibm.com'>Condor 3</a>.
</p>

<h3>Swinfo</h3>
<p style='width: 40em;'>
  Enter a defect, CQ Defect, APAR, PTF, Lpp name (e.g. bos.rte) or
  Fileset (e.g. bos.rte 5.3.0.30 -- with the space.  The VRMF can be
  incomplete such as 5.3.8)
  <% form_tag swinfos_form_path do %>
    <%= text_field_tag "item" %>
    <%= submit_tag nil, :class => "concat-fields" %>
  <% end %>
</p>
<h3>Which Fileset</h3>
<p>
  Type in a file name or path
  <% form_tag which_filesets_form_path do %>
    <%= text_field_tag "path" %>
    <%= submit_tag nil, :class => "concat-fields" %>
  <% end %>
</p>
<h3>SHA1 file verification</h3>
<p>
  Do: csum -h SHA1 &lt;path&gt; <br/>
  Paste the sha1 results into the box below and Condor will find the path(s) for that file, where it was shipped, etc.
  <% form_tag sha1_lookup_form_path do %>
    <%= text_field_tag "sha1" %>
    <%= submit_tag nil, :class => "concat-fields" %>
  <% end %>
</p>
<h3>CMVC Activities</h3>
<table>
  <tr>
    <th>Retrive CMVC Defect</th>
    <td>
      <% form_tag :controller => "defects" do %>
        <%= text_field_tag "path" %>
        <%= submit_tag nil, :class => "concat-fields" %>
      <% end %>
    </td>
    <td>
      Enter a Defect Number
    </td>
  </tr>
  <tr>
    <th>View Changes for a CMVC Defect</th>
    <td>
      <% form_tag changes_form_path do %>
	<%= text_field_tag "path" %>
	<%= submit_tag nil, :class => "concat-fields" %>
      <% end %>
    </td>
    <td>
      Enter a Defect Number
    </td>
  </tr>
  <tr>
    <th>View Change History for a file</th>
    <td>
      <% form_tag file_changes_form_path do %>
	<%= text_field_tag "path" %>
	<%= submit_tag nil, :class => "concat-fields" %>
      <% end %>
    </td>
    <td>
      Enter a basename of a file e.g. jas.c
    </td>
  </tr>
</table>
