<!-- app/views/welcome/index.html.erb -->
<h1>Welcome to Condor</h1>

<div style='font-size: larger; color: orange; background-color: black; width: 60ex'>
  <p>
    Condor swinfo now knows about CQ defect names in two places:
    <ol>
      <li>Swinfo search for <q>SW123456</q> should work</li>
      <li>Right click on the defect now shows the CQ defect as well</li>
    </ol>
  </p>
</div>

<h3>Swinfo</h3>
<p style='width: 40em;'>
  Enter a defect, CQ Defect, APAR, PTF, Lpp name (e.g. bos.rte) or
  Fileset (e.g. bos.rte 5.3.0.30 -- with the space.  The VRMF can be
  incomplete such as 5.3.8)
  <% form_tag swinfos_form_path do %>
    <%= text_field_tag "item" %>
    <%= submit_tag nil, :class => "concat-fields" %>
  <% end %>
</p>
<h3>Which Fileset</h3>
<p>
  Type in a file name or path
  <% form_tag which_filesets_form_path do %>
    <%= text_field_tag "path" %>
    <%= submit_tag nil, :class => "concat-fields" %>
  <% end %>
</p>
<h3>CMVC Activities</h3>
<table>
  <tr>
    <th>Retrive CMVC Defect</th>
    <td>
      <% form_tag :controller => "defects" do %>
        <%= text_field_tag "path" %>
        <%= submit_tag nil, :class => "concat-fields" %>
      <% end %>
    </td>
    <td>
      Enter a Defect Number
    </td>
  </tr>
  <tr>
    <th>View Changes for a CMVC Defect</th>
    <td>
      <% form_tag changes_form_path do %>
	<%= text_field_tag "path" %>
	<%= submit_tag nil, :class => "concat-fields" %>
      <% end %>
    </td>
    <td>
      Enter a Defect Number
    </td>
  </tr>
  <tr>
    <th>View Change History for a file</th>
    <td>
      <% form_tag file_changes_form_path do %>
	<%= text_field_tag "path" %>
	<%= submit_tag nil, :class => "concat-fields" %>
      <% end %>
    </td>
    <td>
      Enter a basename of a file e.g. jas.c
    </td>
  </tr>
</table>
