<h1>Welcome to Condor</h1>
<p>
  Condor is the CMVC / RP2 half of my web based tools to help with
  support work.  There are three areas to Condor.
  <ol>
    <li><span style='font-weight: bold'>"swinfo" data:</span> This is
    the ptfapardef.constant information produced by the build group.
    Currently, there are no ties to RP2.  The ptfapardef.constant data
    contains some of what is in RP2 but also contains other
    information not in RP2.  The ptfapardef data is created at build
    time.  Thus, information about defects not yet built are not in
    Condor.</li>
    <li><span style='font-weight: bold'>Packaging data.</span>  The
    install images on truth stored in /530images, 520images, ... have
    been ransacked.  For a particular path on truth which goes to an
    install image, the list of packages, lpps, and filesets have been
    pulled out.  The list of files that each file set would apply can
    be listed.  The VRMF of the fileset has also been stored.  In
    effect, this is a which_fileset database but it knows what
    actually shipped and where -- not what was suppose to ship.</li>
    <li><span style='font-weight: bold'>CMVC.</span>The third piece is
    a few ties to CMVC to pull over Defects, source files, changes a
    defect made, diffs between the source files, and things like that.
    Over time, I plan to move my CMVC bash / perl scripts into this
    tool.</li>
  </ol>
</p>
<h3>Swinfo</h3>
<p>
  Enter a defect, APAR, PTF, Lpp name (e.g. bos.rte) or Fileset
  (e.g. bos.rte 5.3.0.30 -- with the space.  The VRMF can be
  incomplete such as 5.3.8)
  <% form_tag swinfos_form_path do -%>
      <%= text_field_tag "item" %>
      <%= submit_tag nil, :class => "concat-fields" %>
  <% end -%>
</p>
<h3>Which Fileset</h3>
<p>
  Type in a file name or path
  <% form_tag which_filesets_form_path do -%>
      <%= text_field_tag "path" %>
      <%= submit_tag nil, :class => "concat-fields" %>
  <% end %>
</p>
<h3>CMVC Activities</h3>
<table>
  <tr>
    <th>Retrive CMVC Defect</th>
    <td>
      <% form_tag :controller => "defects" do -%>
      <%= text_field_tag "path" %>
      <%= submit_tag nil, :class => "concat-fields" %>
      <% end %>
    </td>
    <td>
      Enter a Defect Number
    </td>
  </tr>
  <tr>
    <th>View Changes for a CMVC Defect</th>
    <td>
      <% form_tag changes_form_path do -%>
      <%= text_field_tag "path" %>
      <%= submit_tag nil, :class => "concat-fields" %>
      <% end %>
    </td>
    <td>
      Enter a Defect Number
    </td>
  </tr>
  <tr>
    <th>View Change History for a file</th>
    <td>
      <% form_tag file_changes_form_path do -%>
      <%= text_field_tag "path" %>
      <%= submit_tag nil, :class => "concat-fields" %>
      <% end %>
    </td>
    <td>
      Enter a basename of a file e.g. jas.c
    </td>
  </tr>
</table>
