<%- @title = "Index of PTFs"
<h1>Listing ptfs</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for ptf in @ptfs %>
  <tr>
    <td><%=h ptf.name %></td>
    <td><%= link_to 'Show', ptf %></td>
    <td><%= link_to 'Edit', edit_ptf_path(ptf) %></td>
    <td><%= link_to 'Destroy', ptf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ptf', new_ptf_path %>
