<h1>New apar</h1>

<%= error_messages_for :apar %>

<% form_for(@apar) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Abstract</b><br />
    <%= f.text_field :abstract %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', apars_path %>
