<h1>Listing defects</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for defect in @defects %>
  <tr>
    <td><%=h defect.name %></td>
    <td><%= link_to 'Show', defect %></td>
    <td><%= link_to 'Edit', edit_defect_path(defect) %></td>
    <td><%= link_to 'Destroy', defect, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New defect', new_defect_path %>
