<p>
  <b>Defect:</b>
  <%=h @defect.name %>
  <%= link_to "Changes", changes_path(@defect.name) %>
</p>

<%- if @items.empty? -%>
  No APAR / PTF / Defect information found
<%- else -%>
  <table>
    <thead>
      <tr>
	<th>Defect</th>
	<th>APAR</th>
	<th>PTF</th>
	<th>Abstract</th>
	<th>LPP</th>
	<th>VRMF</th>
	<th>Release</th>
      </tr>
    </thead>
    <tbody>
      <%- @items.each do |item| -%>
      <tr>
	<td><%= link_to item.defect, swinfos_path(item.defect) %></td>
	<td><%= link_to item.apar, swinfos_path(item.apar) %></td>
	<td><%= link_to item.ptf, swinfos_path(item.ptf) %></td>
	<td><%= h item.abstract %></td>
	<td><%= link_to item.lpp, swinfos_path(item.lpp) %></td>
	<td><%= link_to item.vrmf, swinfos_path("#{item.lpp} #{item.vrmf}") %></td>
	<td><%= h item.release %></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
  <ul>
    <li>Click on defect to see swinfo for the defect</li>
    <li>Click on apar to see swinfo for the apar</li>
    <li>Click on ptf to see swinfo for the ptf</li>
    <li>Click on lpp to see swinfo for the lpp</li>
    <li>Click on vrmf to see swinfo for the lpp vrmf pair</li>
  </ul>
<%- end -%>

<pre>
<% @defect.text.each do |line| -%>
<%= h line -%>
<% end -%>
</pre>
