<!-- app/views/file_changes/show.html.erb -->
<% @title = "Changes for #{params[:file]}" %>
<h2><%= h @title %></h2>
<%  file_change = @file_changes.shift %>
<%  until file_change.nil? %>
<%    path = file_change.path %>
      <ul class="path">
	File <%= path %>
<%    until file_change.nil? || file_change.path != path %>
<%      release = file_change.release
	version = release[-3, 3]
%>
        <ul class="release">
	  Product <%= h release %> [<%= h file_change.level %>]
<%      until file_change.nil? || file_change.release != release %>
          <ul class="file_change">
<%          if file_change.prev_sccsid.nil? %>
              Initial Drop
<%          else %>
	      <%= link_to file_change.prev_sccsid,
		      src_files_path(file_change.release,
		                     file_change.path.split(/\//),
		                     file_change.prev_sccsid) %>
	      <%= link_to "->",
		      diffs_path(file_change.release,
		                 file_change.path.split(/\//),
		                 file_change.sccsid) %>
<%          end %>
	    <%= link_to file_change.sccsid,
		    src_files_path(file_change.release,
		                   file_change.path.split(/\//),
		                   file_change.sccsid) %>
	    <%= h file_change.type %>
<%=
   # while this may look horrible, I believe eventually Rails will
   # cache things up and it will become fast.
   a = "Not Built"
   s = "Not Built"
   defect = Defefct.find_by_name(file_change.defect, :include => [ :apars, :versions ])
   if defect
     adv = defect.apar_defect_version_maps.first { |m| m.version.name == version }
     if adv
       a = adv.apar.name
       ptf = adv.ptfs.first
       if ptf
         fileset = ptf.filesets.first
         if fileset
           service_pack = fileset.service_packs.first
           if service_pack
             s = service_pack.name
           end
         end
       end
     end   
   end
   "#{s}: #{a}"
%>
	    <%= link_to file_change.defect, defect_path(file_change.defect) %>:
	    <%= h file_change.abstract %>
<%        file_change = @file_changes.shift %>
          </ul>
<%      end %>
        </ul>
<%    end %>
      </ul>
<%  end %>
Instructions:
<ul>
  <li>Click on SCCS ID strings to view that version of the file</li>
  <li>Click on the -> between SCCS ID strings to view a diff
    between the two versions</li>
</ul>
