<h1>Editing package_fileset_map</h1>

<% form_for(@package_fileset_map) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :package_id %><br />
    <%= f.text_field :package_id %>
  </p>
  <p>
    <%= f.label :fileset_id %><br />
    <%= f.text_field :fileset_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @package_fileset_map %> |
<%= link_to 'Back', package_fileset_maps_path %>
