<%# -*- coding: utf-8 -*- -%>
<%#
 Copyright 2007-2011 Ease Software, Inc. and Perry Smith
 All Rights Reserved
-%>
<!-- app/views/package_fileset_maps/index.html.erb -->
<%- @title = "Index of Package Fileset Maps"
<h1>Listing package_fileset_maps</h1>

<table>
  <tr>
    <th>Package</th>
    <th>Fileset</th>
  </tr>

<% for package_fileset_map in @package_fileset_maps %>
  <tr>
    <td><%=h package_fileset_map.package_id %></td>
    <td><%=h package_fileset_map.fileset_id %></td>
    <td><%= link_to 'Show', package_fileset_map %></td>
    <td><%= link_to 'Edit', edit_package_fileset_map_path(package_fileset_map) %></td>
    <td><%= link_to 'Destroy', package_fileset_map, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New package_fileset_map', new_package_fileset_map_path %>
