<!-- app/views/swinfos/show.html.erb -->
<%
   @title = "swinfo for #{@param}"
   add_stylesheets 'swinfos'
   add_javascripts 'prototype', 'swinfos'
%>
<table>
  <thead>
    <tr>
      <th>Defect</th>
      <th>APAR</th>
      <th>PTF</th>
      <th>Abstract</th>
      <th>LPP</th>
      <th>VRMF</th>
      <th>Release</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    <%- @items.each do |item| -%>
    <tr>
      <td>
	<%= render :partial => "defect", :object => item.defect %>
      </td>
      <td><%= link_to item.apar, swinfos_path(item.apar) %></td>
      <td>
	<%- if item.ptf != nil -%>
	<%= link_to item.ptf, swinfos_path(item.ptf) %>
	<%- else -%>
	Not Built Yet
	<%- end -%>
      </td>
      <td><%= h item.abstract %></td>
      <td>
	<%- if item.lpp != nil -%>
	<%= link_to item.lpp, swinfos_path(item.lpp) %>
	<%- else -%>
	Not Built Yet
	<%- end -%>
      </td>
      <td>
	<%- if item.vrmf != nil -%>
	<%= link_to item.vrmf, swinfos_path("#{item.lpp} #{item.vrmf}") %>
	<%- else -%>
	Not Built Yet
	<%- end -%>
      </td>
      <td>
	<%- if item.release -%>
	<%= h item.release %>
	<%- else -%>
	<%= h item.version %>
	<%- end -%>
      </td>
    </tr>
    <%- end -%>
  </tbody>
</table>
Instructions:
<ul>
  <li>Click on defect, apar, ptf, lpp, or vrmf to surf around within
  "swinfo" data</li>
  <li>Click on List to see a list of other links</li>
  <ul>
    <li>View Defect takes you to a page with the defect, etc</li>
    <li>Defect Changes takes you to a page with the change for the
    defect</li>
    <li>Fileset info provides where this fileset shipped and what it
    shipped</li>
  </ul>
</ul>
