<h1>Editing fileset_aix_file_map</h1>

<% form_for(@fileset_aix_file_map) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fileset_id %><br />
    <%= f.text_field :fileset_id %>
  </p>
  <p>
    <%= f.label :aix_file_id %><br />
    <%= f.text_field :aix_file_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @fileset_aix_file_map %> |
<%= link_to 'Back', fileset_aix_file_maps_path %>
