<h1>New image_path_package_map</h1>

<% form_for(@image_path_package_map) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :image_path_id %><br />
    <%= f.text_field :image_path_id %>
  </p>
  <p>
    <%= f.label :package_id %><br />
    <%= f.text_field :package_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', image_path_package_maps_path %>
