<p>
  <b>Apar:</b>
  <%=h @apar_defect_ptf_release_maps.apar_id %>
</p>

<p>
  <b>Defect:</b>
  <%=h @apar_defect_ptf_release_maps.defect_id %>
</p>

<p>
  <b>Ptf:</b>
  <%=h @apar_defect_ptf_release_maps.ptf_id %>
</p>

<p>
  <b>Release:</b>
  <%=h @apar_defect_ptf_release_maps.release_id %>
</p>


<%= link_to 'Edit', edit_apar_defect_ptf_release_maps_path(@apar_defect_ptf_release_maps) %> |
<%= link_to 'Back', apar_defect_ptf_release_maps_path %>
