<h1>New service_pack_fileset_map</h1>

<%= error_messages_for :service_pack_fileset_map %>

<% form_for(@service_pack_fileset_map) do |f| %>
  <p>
    <b>Service pack</b><br />
    <%= f.text_field :service_pack_id %>
  </p>

  <p>
    <b>Fileset</b><br />
    <%= f.text_field :fileset_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', service_pack_fileset_maps_path %>
