<h1>Listing image_paths</h1>

<table>
  <tr>
    <th>Path</th>
  </tr>

<% for image_path in @image_paths %>
  <tr>
    <td><%=h image_path.path %></td>
    <td><%= link_to 'Show', image_path %></td>
    <td><%= link_to 'Edit', edit_image_path_path(image_path) %></td>
    <td><%= link_to 'Destroy', image_path, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New image_path', new_image_path_path %>
