<%- unless @dir_paths.empty? -%>
<h2>Directories below <%= h @prefix %></h2>
<ul>
  <%- for dir_path in @dir_paths -%>
  <li>
    <%= link_to_dir(dir_path) %>
  </li>
  <%- end -%>
</ul>
<%- end -%>
<%- unless @image_paths.empty? -%>
<h2>Images below <%= h @prefix %></h2>
<ul>
  <%- for image_path in @image_paths -%>
  <li>
    <%= link_to_image(image_path) %>
    <ul>
      <%- image_path.filesets.each do |fileset| -%>
      <li><%= link_to "#{fileset.lpp.name} #{fileset.vrmf}", fileset %></li>
      <%- end -%>
    </ul>
  </li>
  <%- end -%>
</ul>
<%- end -%>
<%- unless @filesets.empty? -%>
<table>
  <tr>
    <th>LPP Name</th>
    <th>VRMF</th>
  </tr>
  <%-  @filesets.sort.each do |fileset| -%>
  <tr>
    <td><%= h fileset.lpp.name %></td>
    <td><%= link_to fileset.vrmf, fileset %></td>
  </tr>
  <%- end -%>
</table>
<%- end -%>
