<h1>Editing base</h1>

<%= error_messages_for :base %>

<% form_for(@base) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @base %> |
<%= link_to 'Back', bases_path %>
