<h1>Listing bases</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for base in @bases %>
  <tr>
    <td><%=h base.name %></td>
    <td><%= link_to 'Show', base %></td>
    <td><%= link_to 'Edit', edit_base_path(base) %></td>
    <td><%= link_to 'Destroy', base, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New base', new_base_path %>
