<%# -*- coding: utf-8 -*- -%>
<%#
 Copyright 2007-2011 Ease Software, Inc. and Perry Smith
 All Rights Reserved
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> 
 Copyright 2007-2011 Ease Software, Inc. and Perry Smith
 All Rights Reserved
 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Welcome to Condor</title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>
    <link rel="Shortcut Icon" href="<%= compute_public_path("/condor.ico", "") %>"/>
  </head>
  <body>
    <%= yield  %>
  </body>
</html>
