<h1>Editing fileset</h1>

<%= error_messages_for :fileset %>

<% form_for(@fileset) do |f| %>
  <p>
    <b>Lpp</b><br />
    <%= f.text_field :lpp_id %>
  </p>

  <p>
    <b>Vrmf</b><br />
    <%= f.text_field :vrmf %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @fileset %> |
<%= link_to 'Back', filesets_path %>
